
mjx-container[overflow="scroll"][display] {
  overflow: auto clip;
  min-width: initial !important;
}

mjx-container[overflow="truncate"][display] {
  overflow: hidden clip;
  min-width: initial !important;
}

mjx-container[display] {
  display: block;
  text-align: center;
  justify-content: center;
  margin: .7em 0;
  padding: .3em 2px;
}

mjx-container[display][width="full"] {
  display: flex;
}

mjx-container[justify="left"] {
  text-align: left;
  justify-content: left;
}

mjx-container[justify="right"] {
  text-align: right;
  justify-content: right;
}

mjx-container[jax="CHTML"] {
  white-space: nowrap;
}

mjx-mo > mjx-c, mjx-mi > mjx-c, mjx-mn > mjx-c, mjx-ms > mjx-c, mjx-mtext > mjx-c {
  clip-path: padding-box polygon(-1em -2px, calc(100% + 1em) -2px, calc(100% + 1em) calc(100% + 2px), -1em calc(100% + 2px));
}

mjx-stretchy-h {
  clip-path: padding-box polygon(0 -2px, 100% -2px, 100% calc(100% + 2px), 0 calc(100% + 2px));
  display: inline-block;
}

mjx-stretchy-v {
  clip-path: padding-box polygon(-2px 0, calc(100% + 2px) 0, calc(100% + 2px) 100%, -2px 100%);
  display: inline-block;
  text-align: center;
}

mjx-container [space="1"] {
  margin-left: .111em;
}

mjx-container [space="2"] {
  margin-left: .167em;
}

mjx-container [space="3"] {
  margin-left: .222em;
}

mjx-container [space="4"] {
  margin-left: .278em;
}

mjx-container [space="5"] {
  margin-left: .333em;
}

mjx-container [rspace="1"] {
  margin-right: .111em;
}

mjx-container [rspace="2"] {
  margin-right: .167em;
}

mjx-container [rspace="3"] {
  margin-right: .222em;
}

mjx-container [rspace="4"] {
  margin-right: .278em;
}

mjx-container [rspace="5"] {
  margin-right: .333em;
}

mjx-container [size="s"] {
  font-size: 70.7%;
}

mjx-container [size="ss"] {
  font-size: 50%;
}

mjx-container [size="Tn"] {
  font-size: 60%;
}

mjx-container [size="sm"] {
  font-size: 85%;
}

mjx-container [size="lg"] {
  font-size: 120%;
}

mjx-container [size="Lg"] {
  font-size: 144%;
}

mjx-container [size="LG"] {
  font-size: 173%;
}

mjx-container [size="hg"] {
  font-size: 207%;
}

mjx-container [size="HG"] {
  font-size: 249%;
}

mjx-container [width="full"] {
  width: 100%;
}

mjx-box {
  display: inline-block;
}

mjx-block {
  display: block;
}

mjx-itable {
  display: inline-table;
}

mjx-row {
  display: table-row;
}

mjx-row > mjx-cell, mjx-row > mjx-base, mjx-row > mjx-under, mjx-row > mjx-over, mjx-row > mjx-den {
  display: table-cell;
}

mjx-container [inline-breaks] {
  display: inline;
}

mjx-container .mjx-selected {
  outline: 2px solid black;
}

@media (prefers-color-scheme: dark) {
  mjx-container .mjx-selected {
    outline: 2px solid #C8C8C8;
  }
}

mjx-mtext {
  display: inline-block;
  text-align: left;
}

mjx-mstyle {
  display: inline-block;
}

mjx-merror {
  display: inline-block;
  color: red;
  background-color: yellow;
}

mjx-mphantom {
  visibility: hidden;
}

mjx-math {
  display: inline-block;
  text-align: left;
  line-height: 0;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  direction: ltr;
  padding: 1px 0;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: 0;
}

mjx-math[breakable] {
  display: inline;
}

mjx-container[jax="CHTML"] mjx-break {
  white-space: normal;
  line-height: 0;
  clip-path: rect(0 0 0 0);
  font-family: MJX-BRK !important;
}

mjx-break[size="0"] {
  letter-spacing: -0.999em;
}

mjx-break[size="1"] {
  letter-spacing: -0.889em;
}

mjx-break[size="2"] {
  letter-spacing: -0.833em;
}

mjx-break[size="3"] {
  letter-spacing: -0.778em;
}

mjx-break[size="4"] {
  letter-spacing: -0.722em;
}

mjx-break[size="5"] {
  letter-spacing: -0.667em;
}

mjx-mtable {
  display: inline-block;
  text-align: center;
  vertical-align: .25em;
  position: relative;
  box-sizing: border-box;
  border-spacing: 0;
  border-collapse: collapse;
}

mjx-mstyle[size="s"] mjx-mtable {
  vertical-align: .354em;
}

mjx-labels {
  position: absolute;
  left: 0;
  top: 0;
}

mjx-table {
  display: inline-block;
  vertical-align: -.5ex;
  box-sizing: border-box;
}

mjx-table > mjx-itable {
  vertical-align: middle;
  text-align: left;
  box-sizing: border-box;
}

mjx-labels > mjx-itable {
  position: absolute;
  top: 0;
}

mjx-mtable[justify="left"] {
  text-align: left;
}

mjx-mtable[justify="right"] {
  text-align: right;
}

mjx-mtable[justify="left"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="left"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[justify="right"][side="left"] {
  padding-right: 0 ! important;
}

mjx-mtable[justify="right"][side="right"] {
  padding-left: 0 ! important;
}

mjx-mtable[align] {
  vertical-align: baseline;
}

mjx-mtable[align="top"] > mjx-table {
  vertical-align: top;
}

mjx-mtable[align="bottom"] > mjx-table {
  vertical-align: bottom;
}

mjx-mtable[side="right"] mjx-labels {
  min-width: 100%;
}

mjx-mtr {
  display: table-row;
  text-align: left;
}

mjx-mtr[rowalign="top"] > mjx-mtd {
  vertical-align: top;
}

mjx-mtr[rowalign="center"] > mjx-mtd {
  vertical-align: middle;
}

mjx-mtr[rowalign="bottom"] > mjx-mtd {
  vertical-align: bottom;
}

mjx-mtr[rowalign="baseline"] > mjx-mtd {
  vertical-align: baseline;
}

mjx-mtr[rowalign="axis"] > mjx-mtd {
  vertical-align: .25em;
}

mjx-mtd {
  display: table-cell;
  text-align: center;
  padding: .215em .4em;
}

mjx-mtd:first-child {
  padding-left: 0;
}

mjx-mtd:last-child {
  padding-right: 0;
}

mjx-mtable > * > mjx-itable > *:first-child > mjx-mtd {
  padding-top: 0;
}

mjx-mtable > * > mjx-itable > *:last-child > mjx-mtd {
  padding-bottom: 0;
}

mjx-tstrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-labels[align="left"] > mjx-mtr > mjx-mtd {
  text-align: left;
}

mjx-labels[align="right"] > mjx-mtr > mjx-mtd {
  text-align: right;
}

mjx-mtd[extra] {
  padding: 0;
}

mjx-mtd[rowalign="top"] {
  vertical-align: top;
}

mjx-mtd[rowalign="center"] {
  vertical-align: middle;
}

mjx-mtd[rowalign="bottom"] {
  vertical-align: bottom;
}

mjx-mtd[rowalign="baseline"] {
  vertical-align: baseline;
}

mjx-mtd[rowalign="axis"] {
  vertical-align: .25em;
}

mjx-mi {
  display: inline-block;
  text-align: left;
}

mjx-c {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-utext {
  display: inline-block;
  padding: .75em 0 .2em 0;
}

mjx-mo {
  display: inline-block;
  text-align: left;
}

mjx-stretchy-h > mjx-beg, mjx-stretchy-h > mjx-ext, mjx-stretchy-h > mjx-end, mjx-stretchy-h > mjx-mid {
  display: inline-block;
  width: 0;
  text-align: right;
}

mjx-stretchy-h > mjx-ext {
  clip-path: padding-box polygon(0 -1em, 100% -1em, 100% calc(100% + 1em), 0 calc(100% + 1em));
  width: 100%;
  border: 0px solid transparent;
  box-sizing: border-box;
  text-align: left;
}

mjx-stretchy-v > mjx-beg, mjx-stretchy-v > mjx-ext, mjx-stretchy-v > mjx-end, mjx-stretchy-v > mjx-mid {
  display: block;
  height: 0;
  margin: 0 auto;
}

mjx-stretchy-v > mjx-ext > mjx-spacer {
  display: block;
}

mjx-stretchy-v > mjx-ext {
  clip-path: padding-box polygon(-1em 0, calc(100% + 1em) 0, calc(100% + 1em) 100%, -1em 100%);
  height: 100%;
  border: 0.1px solid transparent;
  box-sizing: border-box;
  white-space: pre;
}

mjx-mark {
  display: inline-block;
  height: 0;
}

mjx-TeXAtom {
  display: inline-block;
  text-align: left;
}

mjx-mover {
  display: inline-block;
  text-align: left;
}

mjx-mover:not([limits="false"]) {
  padding-top: .1em;
}

mjx-mover:not([limits="false"]) > mjx-base, mjx-mover:not([limits="false"]) > mjx-over {
  display: block;
  text-align: left;
}

mjx-msubsup {
  display: inline-block;
  text-align: left;
}

mjx-script {
  display: inline-block;
  padding-right: .05em;
  padding-left: .033em;
}

mjx-script > mjx-spacer {
  display: block;
}

mjx-mspace {
  display: inline-block;
  text-align: left;
}

mjx-mfrac {
  display: inline-block;
  text-align: left;
}

mjx-frac {
  display: inline-block;
  vertical-align: 0.17em;
  padding: 0 .22em;
}

mjx-frac[type="d"] {
  vertical-align: .04em;
}

mjx-frac[delims] {
  padding: 0 .1em;
}

mjx-frac[atop] {
  padding: 0 .12em;
}

mjx-frac[atop][delims] {
  padding: 0;
}

mjx-dtable {
  display: inline-table;
  width: 100%;
}

mjx-dtable > mjx-line, mjx-dtable > mjx-row {
  font-size: 2000%;
}

mjx-dbox {
  display: block;
  font-size: 5%;
}

mjx-num {
  display: block;
  text-align: center;
}

mjx-den {
  display: block;
  text-align: center;
}

mjx-mfrac[bevelled] > mjx-num {
  display: inline-block;
}

mjx-mfrac[bevelled] > mjx-den {
  display: inline-block;
}

mjx-den[align="right"], mjx-num[align="right"] {
  text-align: right;
}

mjx-den[align="left"], mjx-num[align="left"] {
  text-align: left;
}

mjx-nstrut {
  display: inline-block;
  height: .054em;
  width: 0;
  vertical-align: -.054em;
}

mjx-nstrut[type="d"] {
  height: .217em;
  vertical-align: -.217em;
}

mjx-dstrut {
  display: inline-block;
  height: .505em;
  width: 0;
}

mjx-dstrut[type="d"] {
  height: .726em;
}

mjx-line {
  display: block;
  box-sizing: border-box;
  min-height: 1px;
  height: .06em;
  border-top: .075em solid;
  margin: .06em -.1em;
  overflow: hidden;
}

mjx-line[type="d"] {
  margin: .18em -.1em;
}

mjx-mn {
  display: inline-block;
  text-align: left;
}

mjx-mrow {
  display: inline-block;
  text-align: left;
}

mjx-linestack, mjx-mrow[break-top] {
  display: inline-table;
  width: 100%;
}

mjx-linestack[break-align="bottom"], mjx-mrow[break-top][break-align="bottom"] {
  display: inline-block;
}

mjx-linestack[break-align="middle"], mjx-mrow[break-top][break-align="middle"] {
  vertical-align: middle;
}

mjx-linestack[break-align="center"], mjx-mrow[break-top][break-align="center"] {
  vertical-align: middle;
}

mjx-linestack[breakable] {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox {
  display: inline;
}

mjx-linestack[breakable] > mjx-linebox::before {
  white-space: pre;
  content: "\A";
}

mjx-linestack[breakable] > mjx-linebox::after {
  white-space: normal;
  content: " ";
  letter-spacing: -.999em;
  font-family: MJX-BRK;
}

mjx-linestack[breakable] > mjx-linebox:first-of-type::before {
  display: none;
}

mjx-linestack[breakable] > mjx-linebox:last-of-type::after {
  display: none;
}

mjx-linebox {
  display: block;
}

mjx-linebox[align="left"] {
  text-align: left;
}

mjx-linebox[align="center"] {
  text-align: center;
}

mjx-linebox[align="right"] {
  text-align: right;
}

mjx-linestrut {
  display: inline-block;
  height: 1em;
  vertical-align: -.25em;
}

mjx-msup {
  display: inline-block;
  text-align: left;
}

mjx-msub {
  display: inline-block;
  text-align: left;
}

mjx-mpadded {
  display: inline-block;
  text-align: left;
}

mjx-rbox {
  display: inline-block;
  position: relative;
}

mjx-container[jax="CHTML"] > mjx-math.NCM-N[breakable] > * {
  font-family: MJX-NCM-ZERO, MJX-NCM-N;
}

.NCM-N {
  font-family: MJX-NCM-ZERO, MJX-NCM-N;
}

.NCM-B {
  font-family: MJX-NCM-ZERO, MJX-NCM-B;
}

.NCM-I {
  font-family: MJX-NCM-ZERO, MJX-NCM-I;
}

.NCM-BI {
  font-family: MJX-NCM-ZERO, MJX-NCM-BI;
}

.NCM-DS {
  font-family: MJX-NCM-ZERO, MJX-NCM-DS;
}

.NCM-F {
  font-family: MJX-NCM-ZERO, MJX-NCM-F;
}

.NCM-FB {
  font-family: MJX-NCM-ZERO, MJX-NCM-FB;
}

.NCM-SS {
  font-family: MJX-NCM-ZERO, MJX-NCM-SS;
}

.NCM-SSB {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSB;
}

.NCM-SSI {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSI;
}

.NCM-SSBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSBI;
}

.NCM-M {
  font-family: MJX-NCM-ZERO, MJX-NCM-M;
}

.NCM-SO {
  font-family: MJX-NCM-ZERO, MJX-NCM-SO;
}

.NCM-LO {
  font-family: MJX-NCM-ZERO, MJX-NCM-LO;
}

.NCM-S3 {
  font-family: MJX-NCM-ZERO, MJX-NCM-S3;
}

.NCM-S4 {
  font-family: MJX-NCM-ZERO, MJX-NCM-S4;
}

.NCM-S5 {
  font-family: MJX-NCM-ZERO, MJX-NCM-S5;
}

.NCM-S6 {
  font-family: MJX-NCM-ZERO, MJX-NCM-S6;
}

.NCM-S7 {
  font-family: MJX-NCM-ZERO, MJX-NCM-S7;
}

.NCM-MI {
  font-family: MJX-NCM-ZERO, MJX-NCM-MI;
}

.NCM-C {
  font-family: MJX-NCM-ZERO, MJX-NCM-C;
}

.NCM-CB {
  font-family: MJX-NCM-ZERO, MJX-NCM-CB;
}

.NCM-OS {
  font-family: MJX-NCM-ZERO, MJX-NCM-OS;
}

.NCM-OB {
  font-family: MJX-NCM-ZERO, MJX-NCM-OB;
}

.NCM-V {
  font-family: MJX-NCM-ZERO, MJX-NCM-V;
}

.NCM-LT {
  font-family: MJX-NCM-ZERO, MJX-NCM-LT;
}

.NCM-RB {
  font-family: MJX-NCM-ZERO, MJX-NCM-RB;
}

.NCM-EM {
  font-family: MJX-NCM-ZERO, MJX-NCM-EM;
}

.NCM-B-a {
  font-family: MJX-NCM-ZERO, MJX-NCM-B-a;
}

.NCM-U {
  font-family: MJX-NCM-ZERO, MJX-NCM-U;
}

.NCM-U-a {
  font-family: MJX-NCM-ZERO, MJX-NCM-U-a;
}

.NCM-S {
  font-family: MJX-NCM-ZERO, MJX-NCM-S;
}

.NCM-SB {
  font-family: MJX-NCM-ZERO, MJX-NCM-SB;
}

.MB-BN {
  font-family: MJX-NCM-ZERO, MJX-MB-BN;
}

.MB-BB {
  font-family: MJX-NCM-ZERO, MJX-MB-BB;
}

.MB-BSS {
  font-family: MJX-NCM-ZERO, MJX-MB-BSS;
}

.MB-BSSB {
  font-family: MJX-NCM-ZERO, MJX-MB-BSSB;
}

.MB-BM {
  font-family: MJX-NCM-ZERO, MJX-MB-BM;
}

@font-face /* MB-BN */ {
  font-family: MJX-MB-BN;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-bbm-font-extension@4/chtml/woff2/mjx-mb-bn.woff2") format("woff2");
}

@font-face /* MB-BB */ {
  font-family: MJX-MB-BB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-bboldx-font-extension@4/chtml/woff2/mjx-mb-bb.woff2") format("woff2");
}

@font-face /* MB-BSS */ {
  font-family: MJX-MB-BSS;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-bbm-font-extension@4/chtml/woff2/mjx-mb-bss.woff2") format("woff2");
}

@font-face /* MB-BSSB */ {
  font-family: MJX-MB-BSSB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-bbm-font-extension@4/chtml/woff2/mjx-mb-bssb.woff2") format("woff2");
}

@font-face /* MB-BM */ {
  font-family: MJX-MB-BM;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-bbm-font-extension@4/chtml/woff2/mjx-mb-bm.woff2") format("woff2");
}

.MB-BBB {
  font-family: MJX-NCM-ZERO, MJX-MB-BBB;
}

.MB-BLB {
  font-family: MJX-NCM-ZERO, MJX-MB-BLB;
}

@font-face /* MB-BBB */ {
  font-family: MJX-MB-BBB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-bboldx-font-extension@4/chtml/woff2/mjx-mb-bbb.woff2") format("woff2");
}

@font-face /* MB-BLB */ {
  font-family: MJX-MB-BLB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-bboldx-font-extension@4/chtml/woff2/mjx-mb-blb.woff2") format("woff2");
}

.MD-DS {
  font-family: MJX-NCM-ZERO, MJX-MD-DS;
}

.MD-DR {
  font-family: MJX-NCM-ZERO, MJX-MD-DR;
}

@font-face /* MD-DS */ {
  font-family: MJX-MD-DS;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-dsfont-font-extension@4/chtml/woff2/mjx-md-ds.woff2") format("woff2");
}

@font-face /* MD-DR */ {
  font-family: MJX-MD-DR;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-dsfont-font-extension@4/chtml/woff2/mjx-md-dr.woff2") format("woff2");
}

.MHC-M {
  font-family: MJX-NCM-ZERO, MJX-MHC-M;
}

.MHC-N {
  font-family: MJX-NCM-ZERO, MJX-MHC-N;
}

@font-face /* MHC-M */ {
  font-family: MJX-MHC-M;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-mhchem-font-extension@4/chtml/woff2/mjx-mhc-m.woff2") format("woff2");
}

@font-face /* MHC-N */ {
  font-family: MJX-MHC-N;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-mhchem-font-extension@4/chtml/woff2/mjx-mhc-n.woff2") format("woff2");
}

.NCM-AB {
  font-family: MJX-NCM-ZERO, MJX-NCM-AB;
}

.NCM-AI {
  font-family: MJX-NCM-ZERO, MJX-NCM-AI;
}

.NCM-ABI {
  font-family: MJX-NCM-ZERO, MJX-NCM-ABI;
}

@font-face /* NCM-AB */ {
  font-family: MJX-NCM-AB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ab.woff2") format("woff2");
}

@font-face /* NCM-AI */ {
  font-family: MJX-NCM-AI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ai.woff2") format("woff2");
}

@font-face /* NCM-ABI */ {
  font-family: MJX-NCM-ABI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-abi.woff2") format("woff2");
}

.NCM-ABB {
  font-family: MJX-NCM-ZERO, MJX-NCM-ABB;
}

.NCM-ABBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-ABBI;
}

@font-face /* NCM-ABB */ {
  font-family: MJX-NCM-ABB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-abb.woff2") format("woff2");
}

@font-face /* NCM-ABBI */ {
  font-family: MJX-NCM-ABBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-abbi.woff2") format("woff2");
}

.NCM-AR {
  font-family: MJX-NCM-ZERO, MJX-NCM-AR;
}

.NCM-ARL {
  font-family: MJX-NCM-ZERO, MJX-NCM-ARL;
}

@font-face /* NCM-AR */ {
  font-family: MJX-NCM-AR;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ar.woff2") format("woff2");
}

@font-face /* NCM-ARL */ {
  font-family: MJX-NCM-ARL;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-arl.woff2") format("woff2");
}

.NCM-brd {
  font-family: MJX-NCM-ZERO, MJX-NCM-brd;
}

@font-face /* NCM-brd */ {
  font-family: MJX-NCM-brd;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-brd.woff2") format("woff2");
}

.NCM-br {
  font-family: MJX-NCM-ZERO, MJX-NCM-br;
}

@font-face /* NCM-br */ {
  font-family: MJX-NCM-br;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-br.woff2") format("woff2");
}

.NCM-CH {
  font-family: MJX-NCM-ZERO, MJX-NCM-CH;
}

.NCM-CHB {
  font-family: MJX-NCM-ZERO, MJX-NCM-CHB;
}

.NCM-CHI {
  font-family: MJX-NCM-ZERO, MJX-NCM-CHI;
}

.NCM-CHBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-CHBI;
}

@font-face /* NCM-CH */ {
  font-family: MJX-NCM-CH;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ch.woff2") format("woff2");
}

@font-face /* NCM-CHB */ {
  font-family: MJX-NCM-CHB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-chb.woff2") format("woff2");
}

@font-face /* NCM-CHI */ {
  font-family: MJX-NCM-CHI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-chi.woff2") format("woff2");
}

@font-face /* NCM-CHBI */ {
  font-family: MJX-NCM-CHBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-chbi.woff2") format("woff2");
}

.NCM-CYSS {
  font-family: MJX-NCM-ZERO, MJX-NCM-CYSS;
}

.NCM-CYSSB {
  font-family: MJX-NCM-ZERO, MJX-NCM-CYSSB;
}

.NCM-CYSSI {
  font-family: MJX-NCM-ZERO, MJX-NCM-CYSSI;
}

.NCM-CYSSBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-CYSSBI;
}

@font-face /* NCM-CYSS */ {
  font-family: MJX-NCM-CYSS;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-cyss.woff2") format("woff2");
}

@font-face /* NCM-CYSSB */ {
  font-family: MJX-NCM-CYSSB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-cyssb.woff2") format("woff2");
}

@font-face /* NCM-CYSSI */ {
  font-family: MJX-NCM-CYSSI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-cyssi.woff2") format("woff2");
}

@font-face /* NCM-CYSSBI */ {
  font-family: MJX-NCM-CYSSBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-cyssbi.woff2") format("woff2");
}

.NCM-CY {
  font-family: MJX-NCM-ZERO, MJX-NCM-CY;
}

.NCM-CYB {
  font-family: MJX-NCM-ZERO, MJX-NCM-CYB;
}

.NCM-CYI {
  font-family: MJX-NCM-ZERO, MJX-NCM-CYI;
}

.NCM-CYBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-CYBI;
}

@font-face /* NCM-CY */ {
  font-family: MJX-NCM-CY;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-cy.woff2") format("woff2");
}

@font-face /* NCM-CYB */ {
  font-family: MJX-NCM-CYB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-cyb.woff2") format("woff2");
}

@font-face /* NCM-CYI */ {
  font-family: MJX-NCM-CYI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-cyi.woff2") format("woff2");
}

@font-face /* NCM-CYBI */ {
  font-family: MJX-NCM-CYBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-cybi.woff2") format("woff2");
}

.NCM-DV {
  font-family: MJX-NCM-ZERO, MJX-NCM-DV;
}

.NCM-DVB {
  font-family: MJX-NCM-ZERO, MJX-NCM-DVB;
}

.NCM-DVI {
  font-family: MJX-NCM-ZERO, MJX-NCM-DVI;
}

.NCM-DVBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-DVBI;
}

@font-face /* NCM-DV */ {
  font-family: MJX-NCM-DV;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-dv.woff2") format("woff2");
}

@font-face /* NCM-DVB */ {
  font-family: MJX-NCM-DVB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-dvb.woff2") format("woff2");
}

@font-face /* NCM-DVI */ {
  font-family: MJX-NCM-DVI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-dvi.woff2") format("woff2");
}

@font-face /* NCM-DVBI */ {
  font-family: MJX-NCM-DVBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-dvbi.woff2") format("woff2");
}

.NCM-GKSS {
  font-family: MJX-NCM-ZERO, MJX-NCM-GKSS;
}

.NCM-GKSSB {
  font-family: MJX-NCM-ZERO, MJX-NCM-GKSSB;
}

.NCM-GKSSI {
  font-family: MJX-NCM-ZERO, MJX-NCM-GKSSI;
}

.NCM-GKSSBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-GKSSBI;
}

@font-face /* NCM-GKSS */ {
  font-family: MJX-NCM-GKSS;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-gkss.woff2") format("woff2");
}

@font-face /* NCM-GKSSB */ {
  font-family: MJX-NCM-GKSSB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-gkssb.woff2") format("woff2");
}

@font-face /* NCM-GKSSI */ {
  font-family: MJX-NCM-GKSSI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-gkssi.woff2") format("woff2");
}

@font-face /* NCM-GKSSBI */ {
  font-family: MJX-NCM-GKSSBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-gkssbi.woff2") format("woff2");
}

.NCM-GK {
  font-family: MJX-NCM-ZERO, MJX-NCM-GK;
}

.NCM-GKB {
  font-family: MJX-NCM-ZERO, MJX-NCM-GKB;
}

.NCM-GKI {
  font-family: MJX-NCM-ZERO, MJX-NCM-GKI;
}

.NCM-GKBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-GKBI;
}

@font-face /* NCM-GK */ {
  font-family: MJX-NCM-GK;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-gk.woff2") format("woff2");
}

@font-face /* NCM-GKB */ {
  font-family: MJX-NCM-GKB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-gkb.woff2") format("woff2");
}

@font-face /* NCM-GKI */ {
  font-family: MJX-NCM-GKI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-gki.woff2") format("woff2");
}

@font-face /* NCM-GKBI */ {
  font-family: MJX-NCM-GKBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-gkbi.woff2") format("woff2");
}

.NCM-HE {
  font-family: MJX-NCM-ZERO, MJX-NCM-HE;
}

.NCM-HEB {
  font-family: MJX-NCM-ZERO, MJX-NCM-HEB;
}

.NCM-HEI {
  font-family: MJX-NCM-ZERO, MJX-NCM-HEI;
}

.NCM-HEBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-HEBI;
}

@font-face /* NCM-HE */ {
  font-family: MJX-NCM-HE;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-he.woff2") format("woff2");
}

@font-face /* NCM-HEB */ {
  font-family: MJX-NCM-HEB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-heb.woff2") format("woff2");
}

@font-face /* NCM-HEI */ {
  font-family: MJX-NCM-HEI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-hei.woff2") format("woff2");
}

@font-face /* NCM-HEBI */ {
  font-family: MJX-NCM-HEBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-hebi.woff2") format("woff2");
}

.NCM-LB {
  font-family: MJX-NCM-ZERO, MJX-NCM-LB;
}

@font-face /* NCM-LB */ {
  font-family: MJX-NCM-LB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-lb.woff2") format("woff2");
}

.NCM-LIB {
  font-family: MJX-NCM-ZERO, MJX-NCM-LIB;
}

@font-face /* NCM-LIB */ {
  font-family: MJX-NCM-LIB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-lib.woff2") format("woff2");
}

.NCM-LI {
  font-family: MJX-NCM-ZERO, MJX-NCM-LI;
}

@font-face /* NCM-LI */ {
  font-family: MJX-NCM-LI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-li.woff2") format("woff2");
}

.NCM-LR {
  font-family: MJX-NCM-ZERO, MJX-NCM-LR;
}

@font-face /* NCM-LR */ {
  font-family: MJX-NCM-LR;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-lr.woff2") format("woff2");
}

.NCM-MAR {
  font-family: MJX-NCM-ZERO, MJX-NCM-MAR;
}

@font-face /* NCM-MAR */ {
  font-family: MJX-NCM-MAR;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-mar.woff2") format("woff2");
}

.NCM-MM {
  font-family: MJX-NCM-ZERO, MJX-NCM-MM;
}

@font-face /* NCM-MM */ {
  font-family: MJX-NCM-MM;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-mm.woff2") format("woff2");
}

.NCM-MX {
  font-family: MJX-NCM-ZERO, MJX-NCM-MX;
}

@font-face /* NCM-MX */ {
  font-family: MJX-NCM-MX;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-mx.woff2") format("woff2");
}

.NCM-ML {
  font-family: MJX-NCM-ZERO, MJX-NCM-ML;
}

@font-face /* NCM-ML */ {
  font-family: MJX-NCM-ML;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ml.woff2") format("woff2");
}

.NCM-MSH {
  font-family: MJX-NCM-ZERO, MJX-NCM-MSH;
}

@font-face /* NCM-MSH */ {
  font-family: MJX-NCM-MSH;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-msh.woff2") format("woff2");
}

.NCM-PHSS {
  font-family: MJX-NCM-ZERO, MJX-NCM-PHSS;
}

.NCM-PHSSB {
  font-family: MJX-NCM-ZERO, MJX-NCM-PHSSB;
}

.NCM-PHSSI {
  font-family: MJX-NCM-ZERO, MJX-NCM-PHSSI;
}

.NCM-PHSSBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-PHSSBI;
}

@font-face /* NCM-PHSS */ {
  font-family: MJX-NCM-PHSS;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-phss.woff2") format("woff2");
}

@font-face /* NCM-PHSSB */ {
  font-family: MJX-NCM-PHSSB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-phssb.woff2") format("woff2");
}

@font-face /* NCM-PHSSI */ {
  font-family: MJX-NCM-PHSSI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-phssi.woff2") format("woff2");
}

@font-face /* NCM-PHSSBI */ {
  font-family: MJX-NCM-PHSSBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-phssbi.woff2") format("woff2");
}

.NCM-PH {
  font-family: MJX-NCM-ZERO, MJX-NCM-PH;
}

.NCM-PHB {
  font-family: MJX-NCM-ZERO, MJX-NCM-PHB;
}

.NCM-PHI {
  font-family: MJX-NCM-ZERO, MJX-NCM-PHI;
}

.NCM-PHBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-PHBI;
}

@font-face /* NCM-PH */ {
  font-family: MJX-NCM-PH;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ph.woff2") format("woff2");
}

@font-face /* NCM-PHB */ {
  font-family: MJX-NCM-PHB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-phb.woff2") format("woff2");
}

@font-face /* NCM-PHI */ {
  font-family: MJX-NCM-PHI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-phi.woff2") format("woff2");
}

@font-face /* NCM-PHBI */ {
  font-family: MJX-NCM-PHBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-phbi.woff2") format("woff2");
}

.NCM-PU {
  font-family: MJX-NCM-ZERO, MJX-NCM-PU;
}

.NCM-PUB {
  font-family: MJX-NCM-ZERO, MJX-NCM-PUB;
}

.NCM-PUI {
  font-family: MJX-NCM-ZERO, MJX-NCM-PUI;
}

.NCM-PUBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-PUBI;
}

@font-face /* NCM-PU */ {
  font-family: MJX-NCM-PU;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-pu.woff2") format("woff2");
}

@font-face /* NCM-PUB */ {
  font-family: MJX-NCM-PUB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-pub.woff2") format("woff2");
}

@font-face /* NCM-PUI */ {
  font-family: MJX-NCM-PUI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-pui.woff2") format("woff2");
}

@font-face /* NCM-PUBI */ {
  font-family: MJX-NCM-PUBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-pubi.woff2") format("woff2");
}

.NCM-SSLB {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSLB;
}

@font-face /* NCM-SSLB */ {
  font-family: MJX-NCM-SSLB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-sslb.woff2") format("woff2");
}

.NCM-SSLIB {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSLIB;
}

@font-face /* NCM-SSLIB */ {
  font-family: MJX-NCM-SSLIB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-sslib.woff2") format("woff2");
}

.NCM-SSX {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSX;
}

.NCM-SSBX {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSBX;
}

.NCM-SSIX {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSIX;
}

.NCM-SSBIX {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSBIX;
}

@font-face /* NCM-SSX */ {
  font-family: MJX-NCM-SSX;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ssx.woff2") format("woff2");
}

@font-face /* NCM-SSBX */ {
  font-family: MJX-NCM-SSBX;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ssbx.woff2") format("woff2");
}

@font-face /* NCM-SSIX */ {
  font-family: MJX-NCM-SSIX;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ssix.woff2") format("woff2");
}

@font-face /* NCM-SSBIX */ {
  font-family: MJX-NCM-SSBIX;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ssbix.woff2") format("woff2");
}

.NCM-SSLI {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSLI;
}

@font-face /* NCM-SSLI */ {
  font-family: MJX-NCM-SSLI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ssli.woff2") format("woff2");
}

.NCM-SSLR {
  font-family: MJX-NCM-ZERO, MJX-NCM-SSLR;
}

@font-face /* NCM-SSLR */ {
  font-family: MJX-NCM-SSLR;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-sslr.woff2") format("woff2");
}

.NCM-SH {
  font-family: MJX-NCM-ZERO, MJX-NCM-SH;
}

.NCM-SHB {
  font-family: MJX-NCM-ZERO, MJX-NCM-SHB;
}

.NCM-SHI {
  font-family: MJX-NCM-ZERO, MJX-NCM-SHI;
}

.NCM-SHBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-SHBI;
}

@font-face /* NCM-SH */ {
  font-family: MJX-NCM-SH;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-sh.woff2") format("woff2");
}

@font-face /* NCM-SHB */ {
  font-family: MJX-NCM-SHB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-shb.woff2") format("woff2");
}

@font-face /* NCM-SHI */ {
  font-family: MJX-NCM-SHI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-shi.woff2") format("woff2");
}

@font-face /* NCM-SHBI */ {
  font-family: MJX-NCM-SHBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-shbi.woff2") format("woff2");
}

.NCM-SYB {
  font-family: MJX-NCM-ZERO, MJX-NCM-SYB;
}

.NCM-SYI {
  font-family: MJX-NCM-ZERO, MJX-NCM-SYI;
}

.NCM-SYBI {
  font-family: MJX-NCM-ZERO, MJX-NCM-SYBI;
}

@font-face /* NCM-SYB */ {
  font-family: MJX-NCM-SYB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-syb.woff2") format("woff2");
}

@font-face /* NCM-SYI */ {
  font-family: MJX-NCM-SYI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-syi.woff2") format("woff2");
}

@font-face /* NCM-SYBI */ {
  font-family: MJX-NCM-SYBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-sybi.woff2") format("woff2");
}

.NCM-SY {
  font-family: MJX-NCM-ZERO, MJX-NCM-SY;
}

@font-face /* NCM-SY */ {
  font-family: MJX-NCM-SY;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-sy.woff2") format("woff2");
}

.NCM-VX {
  font-family: MJX-NCM-ZERO, MJX-NCM-VX;
}

@font-face /* NCM-VX */ {
  font-family: MJX-NCM-VX;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-vx.woff2") format("woff2");
}

@font-face /* MJX-NCM-ZERO */ {
  font-family: MJX-NCM-ZERO;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-zero.woff2") format("woff2");
}

@font-face /* MJX-BRK */ {
  font-family: MJX-BRK;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-brk.woff2") format("woff2");
}

@font-face /* MJX-NCM-N */ {
  font-family: MJX-NCM-N;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-n.woff2") format("woff2");
}

@font-face /* MJX-NCM-B */ {
  font-family: MJX-NCM-B;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-b.woff2") format("woff2");
}

@font-face /* MJX-NCM-I */ {
  font-family: MJX-NCM-I;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-i.woff2") format("woff2");
}

@font-face /* MJX-NCM-BI */ {
  font-family: MJX-NCM-BI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-bi.woff2") format("woff2");
}

@font-face /* MJX-NCM-DS */ {
  font-family: MJX-NCM-DS;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ds.woff2") format("woff2");
}

@font-face /* MJX-NCM-F */ {
  font-family: MJX-NCM-F;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-f.woff2") format("woff2");
}

@font-face /* MJX-NCM-FB */ {
  font-family: MJX-NCM-FB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-fb.woff2") format("woff2");
}

@font-face /* MJX-NCM-SS */ {
  font-family: MJX-NCM-SS;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ss.woff2") format("woff2");
}

@font-face /* MJX-NCM-SSB */ {
  font-family: MJX-NCM-SSB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ssb.woff2") format("woff2");
}

@font-face /* MJX-NCM-SSI */ {
  font-family: MJX-NCM-SSI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ssi.woff2") format("woff2");
}

@font-face /* MJX-NCM-SSBI */ {
  font-family: MJX-NCM-SSBI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ssbi.woff2") format("woff2");
}

@font-face /* MJX-NCM-M */ {
  font-family: MJX-NCM-M;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-m.woff2") format("woff2");
}

@font-face /* MJX-NCM-SO */ {
  font-family: MJX-NCM-SO;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-so.woff2") format("woff2");
}

@font-face /* MJX-NCM-LO */ {
  font-family: MJX-NCM-LO;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-lo.woff2") format("woff2");
}

@font-face /* MJX-NCM-S3 */ {
  font-family: MJX-NCM-S3;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-s3.woff2") format("woff2");
}

@font-face /* MJX-NCM-S4 */ {
  font-family: MJX-NCM-S4;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-s4.woff2") format("woff2");
}

@font-face /* MJX-NCM-S5 */ {
  font-family: MJX-NCM-S5;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-s5.woff2") format("woff2");
}

@font-face /* MJX-NCM-S6 */ {
  font-family: MJX-NCM-S6;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-s6.woff2") format("woff2");
}

@font-face /* MJX-NCM-S7 */ {
  font-family: MJX-NCM-S7;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-s7.woff2") format("woff2");
}

@font-face /* MJX-NCM-MI */ {
  font-family: MJX-NCM-MI;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-mi.woff2") format("woff2");
}

@font-face /* MJX-NCM-C */ {
  font-family: MJX-NCM-C;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-c.woff2") format("woff2");
}

@font-face /* MJX-NCM-CB */ {
  font-family: MJX-NCM-CB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-cb.woff2") format("woff2");
}

@font-face /* MJX-NCM-OS */ {
  font-family: MJX-NCM-OS;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-os.woff2") format("woff2");
}

@font-face /* MJX-NCM-OB */ {
  font-family: MJX-NCM-OB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-ob.woff2") format("woff2");
}

@font-face /* MJX-NCM-V */ {
  font-family: MJX-NCM-V;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-v.woff2") format("woff2");
}

@font-face /* MJX-NCM-LT */ {
  font-family: MJX-NCM-LT;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-lt.woff2") format("woff2");
}

@font-face /* MJX-NCM-RB */ {
  font-family: MJX-NCM-RB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-rb.woff2") format("woff2");
}

@font-face /* MJX-NCM-EM */ {
  font-family: MJX-NCM-EM;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-em.woff2") format("woff2");
}

@font-face /* MJX-NCM-B-a */ {
  font-family: MJX-NCM-B-a;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-b-a.woff2") format("woff2");
}

@font-face /* MJX-NCM-U */ {
  font-family: MJX-NCM-U;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-u.woff2") format("woff2");
}

@font-face /* MJX-NCM-U-a */ {
  font-family: MJX-NCM-U-a;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-u-a.woff2") format("woff2");
}

@font-face /* MJX-NCM-S */ {
  font-family: MJX-NCM-S;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-s.woff2") format("woff2");
}

@font-face /* MJX-NCM-SB */ {
  font-family: MJX-NCM-SB;
  src: url("https://cdn.jsdelivr.net/npm/@mathjax/mathjax-newcm-font@4/chtml/woff2/mjx-ncm-sb.woff2") format("woff2");
}

mjx-c.mjx-c2207 {
  padding: 0.683em 0.833em 0.033em 0;
}

mjx-c.mjx-cD7 {
  padding: 0.491em 0.778em 0 0;
}

mjx-c.mjx-c20D7 {
  padding: 0.711em 0 0 0;
  width: 0.528em;
  margin-left: -0.528em;
}

mjx-c.mjx-c1D401 {
  padding: 0.686em 0.818em 0 0;
}

mjx-c.mjx-c2212 {
  padding: 0.583em 0.778em 0.083em 0;
}

mjx-c.mjx-c31 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c1D450 {
  padding: 0.442em 0.433em 0.011em 0;
}

mjx-c.mjx-c1D715 {
  padding: 0.716em 0.566em 0.022em 0;
}

mjx-c.mjx-c1D404 {
  padding: 0.68em 0.756em 0 0;
}

mjx-c.mjx-c1D461 {
  padding: 0.626em 0.361em 0.011em 0;
}

mjx-c.mjx-c3D {
  padding: 0.367em 0.778em 0 0;
}

mjx-c.mjx-c34 {
  padding: 0.677em 0.5em 0 0;
}

mjx-c.mjx-c1D70B {
  padding: 0.431em 0.57em 0.011em 0;
}

mjx-c.mjx-c1D423 {
  padding: 0.685em 0.351em 0.2em 0;
}

mjx-c.mjx-c22C5 {
  padding: 0.303em 0.278em 0 0;
}

mjx-c.mjx-c1D70C {
  padding: 0.442em 0.517em 0.216em 0;
}

mjx-c.mjx-c2B {
  padding: 0.583em 0.778em 0.083em 0;
}

mjx-c.mjx-c1D7CE {
  padding: 0.655em 0.575em 0.011em 0;
}

mjx-c.mjx-c30 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-c1D44E {
  padding: 0.442em 0.529em 0.011em 0;
}

mjx-c.mjx-c1D465 {
  padding: 0.442em 0.572em 0.011em 0;
}

mjx-c.mjx-c32 {
  padding: 0.666em 0.5em 0 0;
}

mjx-c.mjx-c1D44F {
  padding: 0.694em 0.429em 0.011em 0;
}

mjx-c.mjx-c43 {
  padding: 0.705em 0.722em 0.022em 0;
}

mjx-c.mjx-c4F {
  padding: 0.705em 0.778em 0.022em 0;
}

mjx-c.mjx-c1D434 {
  padding: 0.716em 0.75em 0 0;
}

mjx-c.mjx-cE429.MHC-M {
  padding: 0.51em 1.463em 0.01em 0;
}

mjx-c.mjx-c35 {
  padding: 0.666em 0.5em 0.022em 0;
}

mjx-c.mjx-cA0 {
  padding: 0 0.332em 0 0;
}

mjx-c.mjx-c6D {
  padding: 0.442em 0.833em 0 0;
}

mjx-c.mjx-c6F {
  padding: 0.448em 0.5em 0.011em 0;
}

mjx-c.mjx-c6C {
  padding: 0.694em 0.278em 0 0;
}

mjx-c.mjx-c4C {
  padding: 0.683em 0.625em 0 0;
}

mjx-c.mjx-c394 {
  padding: 0.716em 0.833em 0 0;
}

mjx-c.mjx-c1D453 {
  padding: 0.705em 0.552em 0.205em 0;
}

mjx-c.mjx-c2061 {
  padding: 0 0 0 0;
}

mjx-c.mjx-c1D466 {
  padding: 0.442em 0.49em 0.205em 0;
}

mjx-c.mjx-c1D467 {
  padding: 0.442em 0.467em 0.011em 0;
}